<%= form_for(@note, builder: IdeonFormBuilder, html: { multipart: true } ) do |f| %>
  <%= render 'shared/errors', object: @note %>

  <% if @note.persisted? %>
    <%= f.container do %>
      <%= f.label_collection_select :parent_id, current_user.notes, :id, :title, { selected: @note.id } %>
    <% end %>
  <% else %>
    <%= f.hidden_field :parent_id, value: params[:note_id] %>
  <% end %>

  <%= f.container do %>
    <%= f.text_field :title, placeholder: 'Titulo', class: 'form-control' %>
  <% end %>

  <%= f.container do %>
    <%= f.text_area :body, rows: rows_for(@note), placeholder: 'Lorem ipsum dolor sit amec...', class: 'form-control' %>
  <% end %>

  <%= f.check_box :favorite %>

  <%= collection_check_boxes :note, :tag_ids, @tags, :id, :name do |builder| %>
    <%= builder.label(class: 'check_box') do %>
      <% icon = content_tag(:i, nil, class: 'fa fa-tag') %>
      <% checkbox = builder.check_box(class: 'check_box') %>
      <%= "#{checkbox} #{builder.text} #{icon}".html_safe %>
    <% end %>
  <% end %>

  <div id="assets-container">
    <%= f.fields_for :assets do |fa| %>
      <%= f.container do %>
        <%= fa.hidden_field :id %>

        <div class="row">
          <div class="col-xs-1">
            <%= image_tag fa.object.file.url, height: '80px', width: '80px' %>
          </div>
          <div class="col-xs-1 col-xs-offset-1 col-md-offset-0">
            <%= fa.check_box :_destroy, { checked: false } %>
          </div>
        </div>

        <%= fa.file_field :file %>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Agregar imagen', '#', class: "btn btn-primary", id: 'new-image-button-child-note' %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
