<h1>Mostrando Notas</h1>
<%= select_tag(
  'Mostrar etiqueta',
  options_from_collection_for_select(
    @tags,
    :id,
    :name,
    params[:tag]
  ),
  include_blank: 'Todas',
  id: 'tag-select',
  class: 'form-control'
) %>
<%= link_to fa_icon('plus', text: 'Nueva Nota'), new_note_path, class: 'btn btn-primary btn-lg pull-right' %>
<%= link_to fa_icon('star', text: 'Filtrar favoritas'), favorites_notes_path, class: 'btn btn-info btn-lg pull-right' %>
<%= link_to fa_icon('trash-o', text: 'Filtrar Borradas'), deleted_notes_path, class: 'btn btn-info btn-lg pull-right' %>

<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Favorite</th>
      <th>Status</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.body %></td>
        <td id="favorite-note-<%= note.id %>"><%= link_to fa_icon(icon(note)), toggle_favorite_note_path(note), remote: true, method: :put %></td>
        <td><%= note.status %></td>
        <td id="deleted-note-<%= note.id %>"><%= link_to fa_icon('trash-o'), toggle_deleted_note_path(note), remote: true, method: :put, data: { confirm: 'Quieres eliminar la nota?' } %></td>
        <td><%= link_to fa_icon('search', text: 'Ver'), note %></td>
        <td><%= link_to fa_icon('pencil', text: 'Editar'), edit_note_path(note) %></td>
        <td><%= link_to fa_icon('trash-o', text: 'Borrar'), note, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
