<h2>
  <%= @note.title %>
</h2>

<strong>Body:</strong>
<div class="well">
  <%= @note.body %>
</div>

<p>
  <strong>Favorite:</strong>
  <%= fa_icon(icon(@note), text: @note.favorite.to_s) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>

<p>
	<strong>Elementos de la lista</strong>
	<% @note.checklist_items.each do |checklist_item| %>
	  	<p>
	    	Descripcion:
	    	<%= checklist_item.description %>
	  	</p> 
	  	<p>
	    	Checked:
	    	<%= checklist_item.checked %>
	  	</p>
	  	<p>
	  		<%= link_to fa_icon('trash-o', text: 'Borrar Permanentemente'), [checklist_item.note, checklist_item], method: :delete, data: { confirm: 'Estás seguro?' } %>
	  	</p>
	<% end %>
</p>

<p>
	<strong>Agregar Elemento en la lista </strong>
	<%= form_for([@note, @note.checklist_items.build]) do |f| %>
		<p>
			<%= f.label :description %><br>
			<%= f.text_field :description %>
			<%= f.check_box :checked %>
			<%= label_tag(:checked, "Checked") %>

		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>

</p>

<%= link_to 'Editar', edit_note_path(@note), class: 'btn btn-info' %>
<%= link_to 'Todas las notas', notes_path, class: 'btn btn-primary' %>

