<h2>
  <%= @note.title %>
</h2>

<strong>Body:</strong>
<div class="well">
  <%= @note.body %>
</div>

<p>
  <strong>Favorite:</strong>
  <%= fa_icon(icon(@note), text: @note.favorite.to_s) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>

<p>
  <strong>Elementos de la lista</strong>
  <ul>
    <% @note.checklist_items.each do |checklist_item| %>
        <li>
          <%= checklist_item.description %>
          <%= fa_icon(checklist_item.fa_checked) %>
          <%= link_to fa_icon('trash-o', text: 'Eliminar item'), [checklist_item.note, checklist_item], method: :delete, data: { confirm: 'Estás seguro?' } %>
        </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Agregar Elemento en la lista </strong>
  <%= form_for([@note, @note.checklist_items.build], html: { class: 'form-inline' }) do |f| %>
      <div class="form-group">
        <%= f.text_field :description, placeholder: 'Darle de comer al perro', class: 'form-control' %>
      </div>
      <div class="checkbox">
        <%= f.check_box :checked %>
      </div>
      <%= label_tag(:checked, 'Finalizada') %>
      <%= f.submit 'Crear', class: 'btn btn-success' %>
    </p>
  <% end %>

</p>

<%= link_to 'Editar', edit_note_path(@note), class: 'btn btn-info' %>
<%= link_to 'Todas las notas', notes_path, class: 'btn btn-primary' %>
