<h1>Editar <%= current_user.email %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, builder: IdeonFormBuilder) do |f| %>
  <%= devise_error_messages! %>

  <%= f.container do %>
    <%= f.label_email_field :email, autofocus: true %>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.container do %>
    <%= f.label :password %> <i>(Dejar en blanco si no se quiere cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  <% end %>

  <%= f.container do %>
    <%= f.label_password_field :password_confirmation, autocomplete: "off" %>
  <% end %>

  <%= f.container do %>
    <%= f.label :current_password %> <i>(Necesitamos tu contraseña actual para poder hacer cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
<br>
<%= link_to "Regresar", :back, class: 'btn btn-default' %>
