<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'IDEON', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <%= content_tag :li, class: active_path(:notes) do %>
            <%= link_to 'Notas', notes_path %>
          <% end %>
          <%= content_tag :li, class: active_path(:tags) do %>
            <%= link_to 'Etiquetas', tags_path %>
          <% end %>
        <% end %>
      </ul>
      <% if current_user %>
        <%= form_tag notes_path, method: :get, class: 'navbar-form navbar-left' do %>
          <div class="form-group">
            <%= text_field_tag(
                :search,
                params[:search],
                placeholder: "Search",
                class: "form-control"
            ) %>
          </div>
          <%= submit_tag 'Ir!', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ayuda <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user %>
              <li>
                <%= link_to "Mi cuenta", edit_user_registration_path %>
              </li>
              <li><a href="#">Sincronizar notas</a></li>
              <li class="divider"></li>
              <li>
                <%= link_to fa_icon('power-off', text: 'Cerrar sesión'), destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Iniciar Sesión", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Registrarse", new_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
